<!doctype html>
{% extends 'base.html' %}

{% block content %}

<div class="container mt-3">
    <h4> Add New Student</h4>
    <hr>
    
    <form action=""method="POST">
        {% csrf_token %} 
        <div class="add-group">
            <label for="">ID</label>
            <input type="text" name="student_id" class="form-control">
        </div>

        <div class="add-group">
            <label for="">Name</label>
            <input type="text" name="student_name" class="form-control">
        </div>

        <div class="add-group">
            <label for="">Contact</label>
            <input type="text" name="student_contact" class="form-control">
        </div>

        <div class="add-group">
            <button class="btn btn-primary" type="submit"> Add New Student</button>
            <a href="{% url 'show_student' %}" class="btn btn">Show Details</a>
        </div>
    </form>
</div>

{% endblock content %}