/* logo
{
} */

body{
    background-color: pink;
}


total-orders{
    background-color: #a6a6a6;
}


orders-delivered{
    background-color: #a6a6a6;
}

orders-pending{
    background-color: #a6a6a6;
}